Xft.dpi: 120

urxvt*scrollBar: false
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
urxvt*foreground:       #aaaaaa
urxvt*transparent: true
urxvt*shading: 23
urxvt*font: xft:DejaVu Sans Mono:pixelsize=20:Regular
urxvt*blurRadius: 5
urxvt*fading: 30

URxvt.perl-ext-common: default,matcher,clipboard,tabbed,fullscreen,resize-font
URxvt.clipboard.autocopy: true
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keyboard-select.clipboard: true

! Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
